@import "~styles/variables";
@import "~styles/mixin";

.card {
	position: relative;
	min-height: 79px;
	vertical-align: middle;
	font-size: 17px;
	padding: 20px;
	width: 100%;
	font-weight: 500;
	background: #fff;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1.5px solid transparent;
	&.active {
		border-color: #000f23;
	}
	&:active {
		background-color: #ddd;
		@include boxShadowDarker;
	}

}

.textDiv{
	min-width: calc(100% - 120px);
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;

	line-height: 20px;
	div {
		
	}
	span {
		font-size: 13px;
		line-height: 16px;
		color: #888888;
		font-weight: 300;
		display: block;
		margin-top: 2px;
	}
}

.arrow {
	position: absolute;
	top: 50%;
	right: 21px;
	transform: translateY(-50%);
	font-size: 13px;
	height: 13px;
	color: #4c4c4c;
}

.clock {
	font-size: 17px;
	vertical-align: middle;
	margin-right: 5px;
	margin-top: 2px;
}

.deliveryTimeDiv {
	position: relative;
	display: inline-block;
	width: 119px;
	color: #888;
	font-weight: 300;
	font-size: 16px;
}
.icon{

}