@import "~styles/variables";
@import "~styles/mixin";

.itemPage {
	width: 100%;
	:global(.card) {
		margin: 10px 0;
    }
    :global(.delivery-time-slot) {
        display: inline-block;
		padding-right: 20px;
    }
}